/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card_content {
  display: block;
  text-align: center;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */
  margin: 0 auto;
  width: 50%;
}
